{% extends 'content/base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Features" %}{% endblock %}

{% block content %}
	<div class="container">

		<h2>{% trans "Features" %}</h2>

		<p>{% blocktrans %}
			<em>Painless Cloud</em> supports the following services and technologies.
		{% endblocktrans %}</p>

		<table class="table table-hover">
			<caption>{% trans "Version Control" %}</caption>
			<colgroup>
				<col class="col-xs-6">
				<col class="col-xs-4">
				<col class="col-xs-2">
			</colgroup>
			<thead>
				<tr>
					<th>{% trans "VCS Services" %}</th>
					<th></th>
					<th>{% trans "Status" %}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Bitbucket</td>
					<td></td>
					<td>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
						<i class="fas fa-hourglass-half" aria-label="{% trans 'waiting' %}" title="{% trans 'API incomplete' %}"></i>
					</td>
				</tr><tr>
					<td>GitHub</td>
					<td></td>
					<td>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
					</td>
				</tr><tr>
					<td>GitLab</td>
					<td></td>
					<td>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
						<i class="fas fa-bug" aria-label="{% trans 'bug' %}" title="gitlab-org/gitlab-ce #30021"></i>
					</td>
				</tr>
			</tbody>
		</table>

		<table class="table table-hover">
			<caption>{% trans "Continuous Integration" %}</caption>
			<colgroup>
				<col class="col-xs-6">
				<col class="col-xs-4">
				<col class="col-xs-2">
			</colgroup>
			<thead>
					<tr>
						<th>{% trans "CI Services" %}</th>
						<th></th>
						<th>{% trans "Status" %}</th>
					</tr>
			</thead>
			<tbody>
				<tr>
					<td>Bitbucket Pipelines</td>
					<td></td>
					<td>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
						<i class="fas fa-wrench" aria-label="{% trans 'in progress' %}"></i>
					</td>
				</tr><tr>
					<td>Codeship</td>
					<td></td>
					<td>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
						<i class="fas fa-wrench" aria-label="{% trans 'in progress' %}"></i>
					</td>
				</tr><tr>
					<td>GitHub Actions</td>
					<td></td>
					<td>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
						<i class="fas fa-wrench" aria-label="{% trans 'in progress' %}"></i>
					</td>
				</tr><tr>
					<td>GitLab CI</td>
					<td></td>
					<td>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
						<i class="fas fa-wrench" aria-label="{% trans 'in progress' %}"></i>
					</td>
				</tr><tr>
					<td>Shippable</td>
					<td></td>
					<td>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
						<i class="fas fa-wrench" aria-label="{% trans 'in progress' %}"></i>
					</td>
				</tr><tr>
					<td>Travis CI</td>
					<td></td>
					<td>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
						<i class="fas fa-wrench" aria-label="{% trans 'in progress' %}"></i>
					</td>
				</tr>
			</tbody>
		</table>

		<table class="table table-hover">
			<caption>{% trans "Programming Languages" %}</caption>
			<colgroup>
				<col class="col-xs-6">
				<col class="col-xs-4">
				<col class="col-xs-2">
			</colgroup>
			<thead>
				<tr>
					<th>{% trans "Languages And Frameworks" %}</th>
					<th>{% trans "" %}</th>
					<th>{% trans "Status" %}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Python</th>
					<td>
						<span class="badge badge-secondary">{% trans "lint" %}</span>
					</td>
					<td>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
					</td>
				</tr><tr>
					<td>Django</td>
					<td></td>
					<td>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
					</td>
				</tr><tr>
					<td>Flask</td>
					<td></td>
					<td>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
						<i class="fas fa-wrench" aria-label="{% trans 'in progress' %}"></i>
					</td>
				</tr><tr>
					<th>JavaScript</th>
					<td>
						<span class="badge badge-secondary">{% trans "lint" %}</span>
						<span class="badge badge-secondary">{% trans "combine" %}</span>
						<span class="badge badge-secondary">{% trans "minify" %}</span>
					</td>
					<td>{% trans "planned" %}</td>
				</tr><tr>
					<td>jQuery</td>
					<td></td>
					<td>{% trans "planned" %}</td>
				</tr><tr>
					<td>Angular</td>
					<td></td>
					<td>{% trans "planned" %}</td>
				</tr><tr>
					<td>React</td>
					<td></td>
					<td>{% trans "planned" %}</td>
				</tr><tr>
					<td>Vue.js</td>
					<td></td>
					<td>{% trans "planned" %}</td>
				</tr><tr>
					<th>CSS</th>
					<td>
						<span class="badge badge-secondary">{% trans "lint" %}</span>
						<span class="badge badge-secondary">{% trans "combine" %}</span>
						<span class="badge badge-secondary">{% trans "minify" %}</span>
					</td>
					<td>{% trans "planned" %}</td>
				</tr><tr>
					<td>Sass, SCSS, Compass</td>
					<td></td>
					<td>{% trans "planned" %}</td>
				</tr><tr>
					<th>HTML</th>
					<td>
						<span class="badge badge-secondary">{% trans "lint" %}</span>
					</td>
					<td>{% trans "planned" %}</td>
				</tr><tr>
					<td>Static site generators (e.g. Pelican)</td>
					<td></td>
					<td>{% trans "planned" %}</td>
				</tr>
			</tbody>
		</table>

		<table class="table table-hover">
			<caption>{% trans "Monitoring Integration" %}</caption>
			<colgroup>
				<col class="col-xs-6">
				<col class="col-xs-4">
				<col class="col-xs-2">
			</colgroup>
			<thead>
				<tr>
					<th>{% trans "Monitoring And Crash Reporting" %}</th>
					<th>{% trans "" %}</th>
					<th>{% trans "Status" %}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Sentry</td>
					<td></td>
					<td>
						<i class="fas fa-check" aria-label="{% trans 'supported' %}"></i>
						<i class="fas fa-wrench" aria-label="{% trans 'in progress' %}"></i>
					</td>
				</tr><tr>
					<td>New Relic</td>
					<td></td>
					<td>{% trans "planned" %}</td>
				</tr>
			</tbody>
		</table>

	</div>
{% endblock %}
