{% extends 'content/base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Pricing" %}{% endblock %}

{% block content %}
	<div class="container">

		<h2>{% trans "Pricing" %}</h2>

		<p>{% blocktrans %}
			<em>Our service is currently in alpha stage. Every use is free and at your own risk.</em>
		{% endblocktrans %}</p>

		<p>{% blocktrans %}
			When we go live we'll have a simple pricing: Free for personal use, free for
			open source, inexpensive for teams of all sizes. &ndash; We want everyone to be
			able and motivated to write working software.
		{% endblocktrans %}</p>

		<blockquote>{% blocktrans %}Everyone should be using Painless Cloud.{% endblocktrans %}</blockquote>

		<div class="row">
			<dl class="col-lg-3 col-sm-6">
			<dt>{% blocktrans %}Personal{% endblocktrans %}</dt>
			<dd>{% blocktrans %}Painless Cloud hosted.{% endblocktrans%}</dd>
			<dd><span class="label label-default">{% trans "free" %}</span></dd>
			</dl>

			<dl class="col-lg-3 col-sm-6">
			<dt>Teams</dt>
			<dd>{% blocktrans %}Painless Cloud hosted.{% endblocktrans%}</dd>
			<dd><span class="label label-default">{% trans "reasonably priced" %}</span></dd>
			</dl>

			<dl class="col-lg-3 col-sm-6">
			<dt>Open Source</dt>
			<dd>{% blocktrans %}Painless Cloud hosted.{% endblocktrans%}</dd>
			<dd><span class="label label-default">{% trans "free" %}</span></dd>
			</dl>

			<dl class="col-lg-3 col-sm-6">
			<dt>Enterprise</dt>
			<dd>{% blocktrans %}Painless Cloud hosted behind your firewall.{% endblocktrans%}</dd>
			<dd><span class="label label-default">{% trans "get a quote" %}</span></dd>
			</dl>
		</div>

	</div>
{% endblock %}
