{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}{% trans "400 Bad Request" %}{% endblock %}

{% block content %}
	<h2>{% trans "400 Bad Request" %}</h2>

	<p>{% trans "We're sorry, we don't understand what your browser is asking for." %}</p>
{% endblock %}
