{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}{% trans "403 Forbidden" %}{% endblock %}

{% block content %}
	<h2>{% trans "403 Forbidden" %}</h2>

	<p>{% trans "We're sorry, but access to this resource is restricted." %}</p>
{% endblock %}
