{% load i18n static %}<h1 class="navbar-brand">
	<a href="{#% url 'project-list' %#}" tabindex="1">
		<img class="logo" src="{% static 'icon/logo.svg' %}" alt="{% trans 'Painless logo' context 'image alt text'%}" />
		<span class="brand">{% trans "Painless" context "logo brand text" %}</span>
	</a>
</h1>
